/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2016, 7:28:09 PM
    Author     : Mike
*/

/* html tags */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 850px;
    text-align: center;
    margin: 20px auto;
}

hr {
    border: 0;
    background-color: #333;
    height: 1px;
    margin: 0 25px;
    width: 300px;
}

th {
    padding: 2px;
    background: #D0E8E8;
}
td{ 
    padding:2px; border:#4e95f4 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
tr{
    background: #F3F9F9;
}
/*  Define the background color for all the ODD background rows  */
tr:nth-child(odd){ 
    background: #F3F9F9;
}
/*  Define the background color for all the EVEN background rows  */
tr:nth-child(even){
    background: #FFFFFF;
}

/* general styles */
#main { background: #F1F3F2 }

.smallText { font-size: small }

/* styles for elements contained in the header, i.e.,
   shopping cart widget, language toggle, and logo */
#header {
    height: 250px;
    background: #AAAAAA;
}

#logo {
    height: 155px;
    width: 155px;
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}

#logoText {
    float: left;
    margin: 20px 0 0 70px;
    /* font styles apply to text within alt tags */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#widgetBar {
    height: 50px;
    width: 850px;
    float: right;
    background: #CCCCCC;
}

.headerWidget {
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    /*line-height: 25px;*/
    background: #AAAAAA;
}

/* footer styles */
#footer {
    height: 60px;
    width: 350px;
    clear: left;
    background: #AAAAAA;
}

/* index page styles */
#indexLeftColumn {
    height: 400px;
    width: 350px;
    float: left;
    background: #CCCCCC;
}

#indexRightColumn {
    height: 400px;
    width: 500px;
    float: left;
    background: #F1F3F2;
}

.categoryBox {
    height: 176px;
    width: 212px;
    margin: 21px 14px 6px;
    float: inherit;
    background: #CCCCCC;
}

.categoryLabelText {
    line-height: 150%;
    font-size: x-large;
}

/* category page styles */
#categoryLeftColumn {
    height: 400px;
    width: 200px;
    float: left;
    background: #F1F3F2;
}

#categoryRightColumn {
    height: 400px;
    width: 650px;
    float: left;
    background: #F1F3F2;
    position: relative;
}

.categoryButton {
    margin: 15px 40px 15px;
    padding: 13px;
    display: block;
    background: #E0F0ED;
}

#categoryTitle {
    width: 260px;
    margin: -20px 0px -10px 200px;
    font-size: x-large;
    float: bottom;
    /*line-height: 25px;*/
    background: #F7EDC9;
}

.categoryText {
    line-height: 25px;
    font-size: x-large;
}

/*http://www.textfixer.com/tutorials/css-table-alternating-rows.php*/
/*http://jonathannicol.com/blog/2009/06/20/aligning-an-element-to-the-bottom-of-its-container/*/
.categoryTable{
        width:95%; 
        border-collapse:collapse;
        margin: 0 auto 0 auto;
        padding: 0px 20px 0px 0px;
        position: absolute;
        bottom: 0px;
}

/* cart page styles */
#cartLeftColumn {
    height: 400px;
    width: 850;
    float: left;
    background: #F1F3F2;
    position: relative;
}

#cartBar {
    height: 40px;
    width: 850px;
    float: right;
    background: #F1F3F2;
}

#cartSubTotal {
    
}

.cartWidget {
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    /*line-height: 25px;*/
    background: #AAAAAA;
}

/*http://www.textfixer.com/tutorials/css-table-alternating-rows.php*/
/*http://jonathannicol.com/blog/2009/06/20/aligning-an-element-to-the-bottom-of-its-container/*/
.cartTable{
        width:95%; 
        border-collapse:collapse;
        margin: 0 auto 0 auto;
        padding: 0px 20px 0px 0px;
        position: absolute;
        bottom: 0px;
}

.productQuantityWidget {
    width: 20px;
    margin: 20px 0px;
    float: left;
}

.productUpdateWidget {
    width: 80px;
    margin: 20px 0px;
    font-size: large;
    float: left;
}

/* checkout page styles */
/* confirmation page styles */
